@model IEnumerable<BanThu.Models.DonDatHang>

@{
    ViewBag.Title = "DonDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DonDatHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã Khách Hàng
        </th>
        <th>
            Ngày Đặt Hàng
        </th>
        <th>
            Ngày Giao
        </th>
        <th>
           Đã Thanh Toán
        </th>
        <th>
           Tình Trạng Giao Hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.SoHd }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoHd }) |*@
            @Html.ActionLink("Delete", "Xoadondathang", new { id=item.SoHd })
        </td>
    </tr>
}

</table>
