@model IEnumerable<BanThu.Models.KhachHang>

@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KhachHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Khách Hàng
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Tài Khoản
        </th>
        <th>
           Email
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
           Điện Thoại
        </th>
        <th>
            Ngày Sinh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MaKhachHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKhachHang }) |*@
            @Html.ActionLink("Delete", "xoakhachhang", new { id=item.MaKhachHang })
        </td>
    </tr>
}

</table>
